.bypostauthor {}

#comments {
	border-top: 1px solid #eee;
}

.comments-title,
#reply-title {
	margin: @spacing 0;
	color: @red;
	.font-size(30);
}

#reply-title {
	margin-bottom: @spacing/2;
}

ol.comment-list {
	margin: 0;
}

.comment ul.children {
	margin-left: @spacing;
}

ol.comment-list li,
ul.children li {
	list-style: none;
}

li.comment {
	margin-bottom: @spacing;

	.comment-meta {
		.avatar {
			float: left;
			margin: 0 @spacing/2 @spacing/2 0;
		}

		.comment-metadata {
			padding-top: @spacing/4;
			margin-bottom: .25em;
			.big-red-font;
			.font-size(16);
		}

		.comment-author {
			font-weight: @bold;

			cite { font-style: normal; }

			a { color: @text; }
		}
	}

	.comment-content {
		clear: left;
	}

	.comment-awaiting-moderation {
		clear: left;
		font-style: italic;
	}

	.reply {
		text-transform: uppercase;
		font-weight: @bold;
		.clearfix;
		.big-red-font;
		a { float: right; }
	}
}

li.pingback {
	margin-bottom: @spacing/2;
	padding-bottom: @spacing/2;
	border-bottom: 1px solid @light-grey;
	font-family: @heading-font;
	font-style: italic;
	.font-size(14);

	a {
		color: @red;

		&:hover, &:active, &:focus {
			color: darken( @red, 20% );
		}
	}

	& + li.comment {
		margin-top: @spacing;
	}
}

.comment-respond {
	a {
		color: @red;

		&:hover, &:active, &:focus {
			color: darken( @red, 20% );
		}
	}

	.required {
		color: @red;
	}
}

.no-comments,
.comment-notes {
	margin-bottom: @spacing/2;
	font-family: @heading-font;
	font-style: italic;
	.font-size(14);
}

.no-comments {
	text-align: center;
}
