.sticky { /*! Not used in this theme. */ }

.entry-header {
	h2 {
		line-height: 1;
		clear: none;
	}

	p {
		margin: @spacing/4 0 0;
	}

	.no-title p {
		margin-top: 0;
	}
}

.entry-image { text-align: center; }

.entry-content,
.entry-summary {
	.font-size(17);
	line-height: 1.7;
	color: @text;

	p {
		margin-bottom: @spacing/2;
	}

	a {
		color: @red;

		&:hover, &:active, &:focus {
			color: darken( @red, 20% );
		}
	}
}

.entry-meta {
	margin: @spacing/2 0 0;
	.big-red-font;
	color: @text;

	.entry-author,
	.entry-taxes {
		display: inline-block;
		max-width: 50%;
	}

	.entry-taxes {
		float: right;
		text-align: right;

		.genericon-tag {
			margin-left: @spacing/2;
		}
	}
}

.format-icon {
	/* Add format-icon styles here, once they exist */
}

.video-icon {
	/* Add the video icon (image? svg?) */
}

.read-more {
	display: none;
	float: right;
	font-family: @heading-font;
	.font-size(@read-more-size);
	font-style: italic;
	font-weight: @bold;
	text-transform: uppercase;
}

.byline,
.updated {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-links {
	clear: both;
	margin: 0 0 @spacing;
}

/* @group Home, Archive Pages */
body.blog,
body.archive {
	.hentry {
		position: relative;
		margin: 0 0 @spacing;
		width: 48%;
		height: 442px;
		overflow: hidden;
		background: @black;

		.box-sizing();

		&:nth-of-type(even){
			float: right;
			clear: none;
		}

		&:nth-of-type(odd){
			float: left;
			clear: both;
		}

		.entry-header {
			position: absolute;
			bottom: @spacing/2;
			left: @spacing/2;
			right: @spacing/2;

			padding: @spacing/2;

			color: @white;
			background: fade( @red, 85% );

			transition: opacity .25s;

			a { color: @white; }
		}
	}

	&:not(.paged) .hentry {
		&:first-of-type {
			float: none;
			height: auto;
			width: 100%;

			.entry-header {
				opacity: 1;
			}

			.entry-title {
				.font-size( @featured-title-size );
			}

			.entry-excerpt,
			.read-more {
				display: block;
			}

			&.no-image {
				padding: @spacing/2;

				.entry-header {
					position: relative;
					top: auto;
					left: auto;
					bottom: auto;
					right: auto;
				}
			}
		}

		&:nth-of-type(even){
			float: left;
			clear: both;
		}

		&:nth-of-type(odd){
			float: right;
			clear: none;
		}
	}

	.with-image {

		.entry-header {
			opacity: 0;

			.entry-title:after {
				content: ' \203A';
			}
		}

		&:hover .entry-header {
			opacity: 1;
		}

		.entry-excerpt {
			display: none;
		}
	}

	#main {
		overflow: hidden;
	}
}
/* @end */

/* @group Archive */
.page-header {
	margin: 0 0 @spacing;
	border-bottom: 1px solid #eeeeee;

	.page-title {
		margin: 0;
		padding: 0 0 @spacing/2;
		color: @red;
	}

	p {
		margin: 0 0 @spacing/2;
	}
}
body.author {
	.page-header {

		.author-image {
			display: inline-block;
			overflow: hidden;
			margin-right: @spacing/2;
			width: 64px;
			height: 64px;
			vertical-align: middle;
			.border-radius(32px);

			img {
				width: 100%;
				height: auto;
			}
		}

		.vcard {
			vertical-align: middle;
		}

	}
}
/* @end */

/* @group Search Results */
body.search-results {
	.hentry {
		margin: 0 0 @spacing;
	}

	.entry-title {
		margin-bottom: @spacing/2;
		.font-size( @featured-title-size );
	}
}
/* @end */

/* @group Single */
body.single,
body.page {
	.entry-title {
		margin: 0 0 @spacing;
		padding: 0 0 @spacing/2;
		color: @red;
		border-bottom: 1px solid #eeeeee;
	}
}
/* @end */

/* @group Galleries */
.wp-caption {
	.box-sizing;
	border: 1px solid #eee;
	margin-bottom: @spacing;
	padding: 5px 5px 0;
	max-width: 100%;

	img[class*="wp-image-"] {
		display: block;
		margin: 1.2% auto 0;
		max-width: 98%;
	}

	.wp-caption-text {
		margin: 0.8075em 0;
	}
}

.wp-caption-text {
	text-align: center;
	font-style: italic;
	.font-size( 14 );
}

/* @group Galleries */
.gallery {
	margin-bottom: @spacing;
	.clearfix;

	.gallery-item {
		float: left;
		text-align: center;

		.gallery-icon {
			a { display: block; }

			img {
				border: none;
				height: auto;
				margin-bottom: 0;
			}
		}

		.gallery-caption {
			display: none;
			margin: 0;
			text-align: center;
		}

	}

	.gallery-columns-1 .gallery-size-medium {
		display: table;
		margin: 0 auto 20px;
	}

	.gallery-columns-1,
	.gallery-columns-2,
	.gallery-columns-3,
	.gallery-columns-4 {

		.gallery-size-thumbnail {
			display: table;
			margin: 0 auto 20px;
		}

		.gallery-item {
			text-align: center;
		}

	}

}

.gallery_column( @num: 4, @margin: 2 ) when (@num > 4) {

	// Call recursively to loop down to 1
	.gallery_column( (@num - 1), 2 );

	.gallery-columns-@{num} .gallery-item {
		width: ( 100% - @margin * ( @num - 1 ) ) / @num;
		//margin-right: @margin;
	}

	.gallery-columns-@{num} .gallery-item:nth-of-type(@{num}n - @{num}) {
		margin-right: 0;
		clear: right;
	}

}
.gallery_column( 9, 2 );
/* @end */

/* @end */
