/* Video
----------------------------------------------- */

.wp-video,
.wp-audio-shortcode {
	margin: @spacing/2 auto;
}

.wp-video-shortcode {
	max-width: 100%;
}

.mejs-container,
.mejs-embed,
.mejs-embed body {
	background-color: @black;
	max-width: 100%;
}
