@import 'less/settings';
@import 'less/mixins';

/* =Reset
-------------------------------------------------------------- */
@import 'less/reset';

/* =Global
----------------------------------------------- */
@import 'less/global';
@import 'less/helpers';
@import 'less/genericons';

@import 'less/typography';

body {
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	max-width: 660px;
}